*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* creating main scrren ui */
.main-screen{
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 0 5%;
    background-image: linear-gradient(rgba(121, 104, 121, 0.22),rgba(121, 104, 121, 0.22));
    border-radius: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
}

/* Arranging nav bar*/
.head-options{
    position: absolute;
    display: flex;
    width: 100%;
    top: 0%;
    left: 0%;
    padding: 20px 8%;
    align-items: center;
    justify-content: space-between;

    /* now adding howring effect */
    background-color: transparent;
    overflow: hidden;
    transition: 0.5s;
}

.head-options a{
    float: left;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 22px;
    transition: 0.6s;
}

.head-options a:hover{
    color: green;
    background-color: whitesmoke;
    border-radius: 25px;
    opacity: 0.8;
    font-size: 30px;
    font-weight: 900;

}

.head-options a.active{
    color: whitesmoke;
    pa
}

nav .logo{
    width: 90px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}

/* making the center Logo */
.name-content{
    text-align: center;
    position: relative;
}

.name-content h3{
    font-size: 120px;
    font-family: "Luxurious Roman", serif;
    -webkit-text-stroke: 2px aliceblue;
    color: transparent;
    font-weight: 600;
    transition: 0.4s;
    position: relative;
    top: -90px;
    width: 100%;
}

.name-content h3:hover{
    color: aliceblue;
}

.name-content h1{
    font-family: "Kode Mono", monospace;
    font-size: 160px;
    color: aliceblue;
    font-weight: 600;
    transition: 0.4s;
    position: relative;
    top: -90px;
}

.name-content h1:hover{
    -webkit-text-stroke: 2px aliceblue;
    color: transparent;
}

/* Old linkedin button */
.name-content a{
    text-decoration: none;
    display: inline-block;
    color:aliceblue;
    font-size: 24px;
    border: 2px solid #f09595;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    position: relative;
    top: -100px;
    transition: 0.3s;
}

.name-content a:hover{
    fill-opacity: 0.8;
    background-color: rgb(4, 126, 197);
    color: aliceblue;
    font-size: 30px;
    font-weight: 900;
}

/* putting video to the background */
.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire area */
    z-index: -1;
    filter: blur(7px);
}

@media(min-aspect-ratio: 16/9){
    .bg-video{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9){
    .bg-video{
        width: auto;
        height: 100%;
    }
}